body {
    font-size: xx-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgb(53, 20, 238);
    margin-top: 0.2em;
    margin-bottom: 0;
}

#game {
    margin-top: 0.2em;
    text-align: center;
    height: 60vh;
    width: 50%;
    color: black;
}

#game td {
    margin: 0;
    padding: 0;
    width: 20%;
    border-width: 1em;
    background-color: goldenrod;
}

#game td:hover {
    background-color: gold;
}

#ui {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1em;
}

#ui td {
    width: 50%;
    padding: 0.2em;
}

form {
    margin: auto;
    width: 50%;
    display: flex;
    justify-content: space-around;
}

#score-area, #messages {
    margin: auto;
    display: flex;
    justify-content: space-around;
}

#score {
    margin-top: 0;
}