body {
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: purple;
}

table {
    text-align: center;
}

tr {
    width: 500px;
}

td {
    width: 7em;
    height: 7em;
    border-color: gold;
    border-width: 1em;
    background-color: white;
}